body{
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
}

/* Fonte do Site */

@font-face {
    font-family: HORIZON;
    src: url(fontes/horizon.otf);
 }

/* Menu */

.menu{
    background: #000000;
    background: linear-gradient(to bottom, #0AB052, #000000);
    height: 74px;
    padding-right: 18px;
    border-radius: 3px;
    
}
h2.liu1{
    display: none;
}
ul li.liu{
    left: 40px;
    top: 23px;
    position: absolute;
}
.liu{
    font-size: 20px;
    color: #28FF3D;
    font-family: HORIZON;
}
.menu ul, .menu li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.menu ul{
    width: 100%;
    text-align: right;
}
.menu li{
    display: inline-block;
    position: relative;
}
.menu a{
    display: block;
    line-height: 74px;
    padding-left:14px;
    padding-right:14px;
    text-decoration: none;
    color: #28FF3D;
    font-size: 13px;
    font-family: HORIZON;
    text-transform: capitalize;
    transition-duration: 0.17s;
}
.menu a.seta:after{
    content: "\25BE";
    margin-left: 5px;
}
.menu li a:hover{
    color: #0AB052;
    
}
.menu input{
    display: none;
    margin: 0;
    padding: 0;
    height: 74px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.menu label{
    display: none;
    line-height: 74px;
    text-align: right;
    position: absolute;
    right: 0px;
}
.menu label:before{
    font-size: 1.6em;
    color: #28FF3D;
    content: "\2261";
    margin-right: 20px;
}
.menu ul.submenu{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #272727;
    position: absolute;
    z-index: 99;
    display: none;
}
.menu ul.submenu li{
    display: block;
    text-align: left;
    width: 100%;
}
.menu ul.submenu a{
    color: #28FF3D;
    font-size: 11px;
    text-transform: capitalize;
    transition-duration: 0.4s;
}
.menu li:hover ul.submenu{
    display: block;
}
.menu ul.submenu a:hover{
    background: #3f3f3f;
    color: #28FF3D;
}
@media screen and (max-width: 800px) {
    .menu h2.liu1 {left: 40px;top: 6px; position: absolute; display: block;}
    .liu1 {font-size: 20px;color: #28FF3D;font-family: HORIZON; font-weight: lighter;}
    .liu{visibility: hidden;}
    .menu {position: relative;}
    .menu ul li a{background: #131313;}
    .menu ul li a:hover{background: #3f3f3f; color: #28FF3D;}
    .menu ul {background: #3f3f3f;position: absolute;top: 100%;right: 0;left: 0;z-index: 3;height: auto;display: none;text-align: left;}
    .menu ul.submenu {width: 100%;position: static;}
    .menu ul.submenu a {padding-left: 30px;}
    .menu li {display: block;float: none;width: auto;}
    .menu input, .menu label {position: absolute;top: 0;left: 0;display: block;}
    .menu input {z-index: 4;}
    .menu input:checked + label{color: #28FF3D;}
    .menu input:checked + label:before{content: "\00d7";}
    .menu input:checked ~ ul {display: block;}
    
}

/* Div separadora 0-1 */

.div0-1{
    width: 100%;
    height: 70px;
}

/* Div 1 */

.div1{
    width: 100%;
    height: 600px;
    background-image: url(imagens/AlissonComemorando.png);
    background-size: 100% 100%;
    display: flex;
}
.texto{
    display: flex;
    flex-flow: row wrap;
}
.imagem01{
    padding-top: 100px;
    display: flex;
    flex-flow: row wrap;
}
.h101{
    color: #00ff1a;
    font-size: 45px;
    font-family: HORIZON;
}
.h201{
    color: #0AB052;
    font-size: 28px;
    font-family: HORIZON;
}
.p1{
    color: #81ff8e;
    font-size: 25px;
    visibility: hidden;
}
.imagem1{
    width: 400px;
    height: 400px;
    margin-left: -150px;
}
.texto h1.h101{
    margin-top: 250px;
}
body h1.h101{
    margin-left: 10%;
}
.texto h2.h201{
    margin-top: 250px;
}

/* Responsividade da Div1 */

@media screen and (max-width: 1040px) {
    body h1.h101{margin-left: 5%;}
    body h2.h201{margin-left: 0%;}
    .imagem1{width: 335px;height: 335px;}
}
@media screen and (max-width: 1000px) {
    body h1.h101{margin-left: 3%;}
    body h2.h201{margin-left: 0%;}
}
@media screen and (max-width: 975px) {
    body h1.h101{margin-left: 5%;}
    body h2.h201{margin-left: 0%;}
    .h101{font-size: 40px;}
    .h201{font-size: 23px;}
}
@media screen and (max-width: 856px) {
    .div1{width: 100%;height: 550px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 32px;}
    .h201{color: #0AB052;font-size: 18px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 315px;height: 315px; margin-left: 30px;}
    .texto h1.h101{margin-top: 250px;}
    body h1.h101{margin-left: 6%;}
    .texto h2.h201{margin-top: 250px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 800px) {
    .div1{width: 100%;height: 550px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 32px;}
    .h201{color: #0AB052;font-size: 18px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 315px;height: 315px; margin-left: 30px;}
    .texto h1.h101{margin-top: 250px;}
    body h1.h101{margin-left: 5%;}
    .texto h2.h201{margin-top: 250px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 787px) {
    .div1{width: 100%;height: 550px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 28px;}
    .h201{color: #0AB052;font-size: 17px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 315px;height: 315px; margin-left: 30px;}
    .texto h1.h101{margin-top: 250px;}
    body h1.h101{margin-left: 3.1%;}
    .texto h2.h201{margin-top: 250px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 730px) {
    .div1{width: 100%;height: 500px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 26px;}
    .h201{color: #0AB052;font-size: 15px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 280px;height: 280px; margin-left: 0px;}
    .texto h1.h101{margin-top: 220px;}
    body h1.h101{margin-left: 4.5%;}
    .texto h2.h201{margin-top: 220px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 643px) {
    .div1{width: 100%;height: 450px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 24px;}
    .h201{color: #0AB052;font-size: 13px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 245px;height: 245px; margin-left: 0px;}
    .texto h1.h101{margin-top: 200px;}
    body h1.h101{margin-left: 2%;}
    .texto h2.h201{margin-top: 200px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 573px) {
    .div1{width: 100%;height: 380px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 80px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 20px;}
    .h201{color: #0AB052;font-size: 10px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 230px;height: 230px;}
    .texto h1.h101{margin-top: 180px;}
    body h1.h101{margin-left: 10%;}
    .texto h2.h201{margin-top: 180px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 503px) {
    .div1{width: 100%;height: 350px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 70px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 18px;}
    .h201{color: #0AB052;font-size: 10px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 200px;height: 200px;}
    .texto h1.h101{margin-top: 160px;}
    body h1.h101{margin-left: 10%;}
    .texto h2.h201{margin-top: 160px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 456px) {
    .div1{width: 100%;height: 320px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 70px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 18px;}
    .h201{color: #0AB052;font-size: 10px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 200px;height: 200px;}
    .texto h1.h101{margin-top: 160px;}
    body h1.h101{margin-left: 6%;}
    .texto h2.h201{margin-top: 160px;}
    body p.p1{margin-left: 0%;}
}
@media screen and (max-width: 440px) {
    .div1{width: 100%;height: 280px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 50px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 15px;}
    .h201{color: #0AB052;font-size: 8px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 180px;height: 180px;}
    .texto h1.h101{margin-top: 140px;}
    body h1.h101{margin-left: 4%;}
    .texto h2.h201{margin-top: 140px;}
    body p.p1{margin-left: 0%;}

}
@media screen and (max-width: 374px) {
    .div1{width: 100%;height: 300px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 50px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 12px;}
    .h201{color: #0AB052;font-size: 8px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 170px;height: 170px;}
    .texto h1.h101{margin-top: 130px;}
    body h1.h101{margin-left: 4%;}
    .texto h2.h201{margin-top: 130px;}
    body p.p1{margin-left: 0%;}
    .liu1{font-size: 20px;margin-top: 17px;margin-left: -10px;}
}
@media screen and (max-width: 333px) {
    .div1{width: 100%;height: 260px;background-image: url(imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;width: 55%;}
    .imagem01{padding-top: 50px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 11px;}
    .h201{color: #0AB052;font-size: 7px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 150px;height: 150px;}
    .texto h1.h101{margin-top: 120px;}
    body h1.h101{margin-left: 3%;}
    .texto h2.h201{margin-top: 120px;}
    body p.p1{margin-left: 0%;}
    .liu1{font-size: 18px;margin-top: 18px;margin-left: -20px;}
}

/* Div separadora 1-2 */

.div1-2{
    width: 100%;
    height: 200px;
}

/* Div 2 */

.div2{
    width: 100%;
    height: 600px;
    background-image: url(imagens/AlissonComemorando.png);
    background-size: 100% 100%;
    display: flex;
}