body{
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
}

/* Fonte do Site */

@font-face {
    font-family: HORIZON;
    src: url(fontes/horizon.otf);
 }

/* Menu */

.menu{
    background: #000000;
    background: linear-gradient(to bottom, #0AB052, #000000);
    height: 140px;
    padding-right: 18px;
    border-radius: 3px;
    
}
h2.liu1{
    display: none;
}
ul li.liu{
    left: 40px;
    top: 33px;
    position: absolute;
}
.liu{
    font-size: 35px;
    color: #28FF3D;
    font-family: HORIZON;
}
.menu ul, .menu li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.menu ul{
    width: 100%;
    text-align: right;
}
.menu li{
    display: inline-block;
    position: relative;
}
.menu a{
    display: block;
    line-height: 74px;
    padding-top: 20px;
    padding-left:14px;
    padding-right:14px;
    text-decoration: none;
    color: #28FF3D;
    font-size: 27px;
    font-family: HORIZON;
    text-transform: capitalize;
    transition-duration: 0.17s;
}
.menu a.seta:after{
    content: "\25BE";
    margin-left: 5px;
}
.menu li a:hover{
    color: #0AB052;
    
}
.menu input{
    display: none;
    margin: 0;
    padding: 0;
    height: 74px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.menu label{
    display: none;
    line-height: 74px;
    text-align: right;
    position: absolute;
    right: 0px;
}
.menu label:before{
    font-size: 1.6em;
    color: #28FF3D;
    content: "\2261";
    margin-right: 20px;
}
.menu ul.submenu{
    height: auto;
    overflow: hidden;
    width: 270px;
    background: #272727;
    position: absolute;
    z-index: 99;
    display: none;
}
.menu ul.submenu li{
    display: block;
    text-align: left;
    width: 100%;
}
.menu ul.submenu a{
    color: #28FF3D;
    font-size: 19.76px;
    text-transform: capitalize;
    transition-duration: 0.4s;
}
.menu li:hover ul.submenu{
    display: block;
}
.menu ul.submenu a:hover{
    background: #3f3f3f;
    color: #28FF3D;
}
@media screen and (max-width: 800px) {
    .menu h2.liu1 {left: 40px;top: 6px; position: absolute; display: block;}
    .liu1 {font-size: 20px;color: #28FF3D;font-family: HORIZON; font-weight: lighter;}
    .liu{visibility: hidden;}
    .menu {position: relative;}
    .menu ul li a{background: #131313;}
    .menu ul li a:hover{background: #3f3f3f; color: #28FF3D;}
    .menu ul {background: #3f3f3f;position: absolute;top: 100%;right: 0;left: 0;z-index: 3;height: auto;display: none;text-align: left;}
    .menu ul.submenu {width: 100%;position: static;}
    .menu ul.submenu a {padding-left: 30px;}
    .menu li {display: block;float: none;width: auto;}
    .menu input, .menu label {position: absolute;top: 0;left: 0;display: block;}
    .menu input {z-index: 4;}
    .menu input:checked + label{color: #28FF3D;}
    .menu input:checked + label:before{content: "\00d7";}
    .menu input:checked ~ ul {display: block;}
    
}

/* Div separadora 0-1 */

.div0a1{
    width: 100%;
    height: 50px;
}

/* Div 1 */

.div1{
    width: 100%;
    height: 900px;
    background-image: url(imagens/AlissonComemorando.png);
    background-size: 100% 100%;
    display: flex;
}
.texto{
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    
}
.imagem01{
    padding-top: 120px;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}
.h101{
    color: #00ff1a;
    font-size: 75px;
    font-family: HORIZON;
}
.h201{
    color: #0AB052;
    font-size: 35px;
    font-family: HORIZON;
}
.p1{
    color: #81ff8e;
    font-size: 25px;
    visibility: hidden;
}
.imagem1{
    width: 650px;
    height: 650px;
}
.texto h1.h101{
    margin-top: 330px;
}
body h1.h101{
    margin-left: 30%;

}
.texto h2.h201{
    margin-top: 330px;
}

/* Responsividade da Div1 */

@media screen and (max-width: 2166px) {
    body h1.h101{margin-left: 20%;}
    .imagem1{width: 650px;height: 650px;}
}
@media screen and (max-width: 1895px) {
    body h1.h101{margin-left: 20%;}
    .div1{height: 600px}
    .div1a2{height: 200px;}
    .liu{font-size: 25px;}
    .menu a{font-size: 19px;}
    .menu ul.submenu{width: 210px;}
    .menu ul.submenu a{font-size: 14px;}
    .h101{font-size: 46px;}
    .h201{font-size: 25px;}
    .imagem1{width: 500px;height: 500px;}
}
@media screen and (max-width: 1540px) {
    body h1.h101{margin-left: 20%;}
    .liu{font-size: 28px;}
    .menu a{font-size: 20px;}
    .menu ul.submenu{width: 209px;}
    .menu ul.submenu a{font-size: 14px;}
    .h101{font-size: 40px;}
    .h201{font-size: 23px;}
    .imagem01{padding-top: 110px;}
    .imagem1{width: 500px;height: 500px;}
    .texto h1.h101{margin-top: 300px;}
    .texto h2.h201{margin-top: 295px;}
}
@media screen and (max-width: 1280px) {
    body h1.h101{margin-left: 14%;}
    .div1{height: 650px;}
    .liu{font-size: 28px;}
    .menu a{font-size: 20px;}
    .menu ul.submenu{width: 209px;}
    .menu ul.submenu a{font-size: 14px;}
    .h101{font-size: 35px;}
    .h201{font-size: 20px;}
    .imagem01{padding-top: 110px;}
    .imagem1{width: 400px;height: 420px;}
    .texto h1.h101{margin-top: 300px;}
    .texto h2.h201{margin-top: 295px;}
}
@media screen and (max-width: 1040px) {
    body h1.h101{margin-left: 12%;}
    .div1{height: 500px;}
    .liu{font-size: 20px;}
    ul li.liu{top: 24px;}
    .menu a{font-size: 15px; padding-top: 0px;}
    .menu ul.submenu{width: 167px;}
    .menu ul.submenu a{font-size: 11px;}
    .h101{font-size: 35px;}
    .h201{font-size: 20px;}
    .imagem01{padding-top: 90px;}
    .imagem1{width: 330px;height: 330px;}
    .texto h1.h101{margin-top: 220px;}
    .texto h2.h201{margin-top: 215px;}
    .menu{height: 90px;}
}
@media screen and (max-width: 855px) {
    body h1.h101{margin-left: 12%;}
    .div1{height: 430px;}
    .liu{font-size: 20px;}
    .menu ul.submenu{width: 167px;}
    .menu ul.submenu a{font-size: 11px;}
    .h101{font-size: 25px;}
    .h201{font-size: 17px;}
    .imagem01{padding-top: 90px;}
    .imagem1{width: 280px;height: 280px;}
    .texto h1.h101{margin-top: 200px;}
    .texto h2.h201{margin-top: 190px;}
    .texto{width: 52%;}
}
@media screen and (max-width: 800px) {
    body h1.h101{margin-left: 14%;}
    .div1{height: 430px;}
    .liu1{font-size: 20px;}
    .menu ul.submenu{width: 100%;}
    .menu ul.submenu a{font-size: 11px;}
    .h101{font-size: 25px;}
    .h201{font-size: 17px;}
    .imagem01{padding-top: 90px;}
    .imagem1{width: 250px;height: 250px;}
    .texto h1.h101{margin-top: 200px;}
    .texto h2.h201{margin-top: 190px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 655px) {
    body h1.h101{margin-left: 10%;}
    .div1{height: 300px;}
    .menu h2.liu1{top: 8px;}
    .div0a1{height: 30px;}
    .div1a2{height: 30px;}
    .menu ul.submenu{width: 100%;}
    .menu ul.submenu a{font-size: 9px;}
    .menu a{font-size: 10px;}
    .h101{font-size: 21px;}
    .h201{font-size: 14px;}
    .imagem01{padding-top: 70px;}
    .imagem1{width: 180px;height: 210px;}
    .texto h1.h101{margin-top: 160px;}
    .texto h2.h201{margin-top: 155px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 530px) {
    body h1.h101{margin-left: 10%;}
    .div1{height: 260px;}
    .liu1{font-size: 15px;}
    .menu h2.liu1{top: 14px;}
    .menu ul.submenu{width: 100%;}
    .h101{font-size: 17px;}
    .h201{font-size: 11px;}
    .imagem01{padding-top: 60px;}
    .imagem1{width: 150px;height: 150px;}
    .texto h1.h101{margin-top: 130px;}
    .texto h2.h201{margin-top: 125px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 430px) {
    body h1.h101{margin-left: 11%;}
    .div1{height: 260px;}
    .liu1{font-size: 12px;}
    .menu{height: 70px;}
    .menu label::before{line-height: 0px;}
    .menu ul.submenu{width: 100%;}
    .menu h2.liu1{left: 10px;}
    .h101{font-size: 14px;}
    .h201{font-size: 8px;}
    .imagem01{padding-top: 50px;}
    .imagem1{width: 130px;height: 130px;}
    .texto h1.h101{margin-top: 105px;}
    .texto h2.h201{margin-top: 100px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 350px) {
    body h1.h101{margin-left: 11%;}
    .div0a1{height: 10px;}
    .div1a2{height: 10px;}
    .div1{height: 200px;}
    .liu1{font-size: 9px;}
    .menu ul.submenu{width: 100%;}
    .h101{font-size: 10px;}
    .h201{font-size: 7px;}
    .imagem01{padding-top: 50px;}
    .imagem1{width: 100px;height: 100px;}
    .texto h1.h101{margin-top: 90px;}
    .texto h2.h201{margin-top: 85px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 270px) {
    body h1.h101{margin-left: 9%;}
    .div1{height: 200px;}
    .menu ul.submenu{width: 100%;}
    .h101{font-size: 9px;}
    .h201{font-size: 6px;}
    .imagem01{padding-top: 50px;}
    .imagem1{width: 85px;height: 100px;}
    .texto h1.h101{margin-top: 90px;}
    .texto h2.h201{margin-top: 85px;}
    .texto{width: 60%;}
}
@media screen and (max-width: 232px) {
    body h1.h101{margin-left: 5%;}
    .div1{height: 150px;}
    .menu ul.submenu{width: 100%;}
    .h101{font-size: 6px;}
    .h201{font-size: 4px;}
    .imagem01{padding-top: 20px;}
    .imagem1{width: 75px;height: 75px;}
    .texto h1.h101{margin-top: 60px;}
    .texto h2.h201{margin-top: 57px;}
    .texto{width: 50%;}
}

/* Div separadora 1-2 */

.div1-2{
    width: 100%;
    height: 200px;
}

/* Div 2 */

.div2{
    width: 100%;
    height: 600px;
    background-image: url(imagens/AlissonComemorando.png);
    background-size: 100% 100%;
    display: flex;
}