body{
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
}
.menu{
    background: #000000;
    background: linear-gradient(to bottom, #0AB052, #000000);
    height: 74px;
    padding-right: 18px;
    border-radius: 3px;
    
}
h2.liu1{
    display: none;
}
ul li.liu{
    left: 40px;
    top: 15px;
    position: absolute;
}
.liu{
    font-size: 30px;
    color: #28FF3D;
    font-family: cursive;
}
.menu ul, .menu li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.menu ul{
    width: 100%;
    text-align: right;
}
.menu li{
    display: inline-block;
    position: relative;
}
.menu a{
    display: block;
    line-height: 74px;
    padding-left:14px;
    padding-right:14px;
    text-decoration: none;
    color: #28FF3D;
    font-size: 16px;
    text-transform: capitalize;
    transition-duration: 0.17s;
}
.menu a.seta:after{
    content: "\25BE";
    margin-left: 5px;
}
.menu li a:hover{
    color: #0AB052;
    
}
.menu input{
    display: none;
    margin: 0;
    padding: 0;
    height: 74px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.menu label{
    display: none;
    line-height: 74px;
    text-align: right;
    position: absolute;
    right: 0px;
}
.menu label:before{
    font-size: 1.6em;
    color: #28FF3D;
    content: "\2261";
    margin-right: 20px;
}
.menu ul.submenu{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #272727;
    position: absolute;
    z-index: 99;
    display: none;
}
.menu ul.submenu li{
    display: block;
    text-align: left;
    width: 100%;
}
.menu ul.submenu a{
    color: #28FF3D;
    font-size: 15px;
    text-transform: capitalize;
    transition-duration: 0.4s;
}
.menu li:hover ul.submenu{
    display: block;
}
.menu ul.submenu a:hover{
    background: #3f3f3f;
    color: #28FF3D;
}
@media screen and (max-width: 800px) {
    .menu h2.liu1 {left: 40px;top: -10px; position: absolute; display: block;}
    .liu1 {font-size: 30px;color: #28FF3D;font-family: cursive; font-weight: lighter;}
    .liu{visibility: hidden;}
    .menu {position: relative;}
    .menu ul li a{background: #131313;}
    .menu ul li a:hover{background: #3f3f3f; color: #28FF3D;}
    .menu ul {background: #3f3f3f;position: absolute;top: 100%;right: 0;left: 0;z-index: 3;height: auto;display: none;text-align: left;}
    .menu ul.submenu {width: 100%;position: static;}
    .menu ul.submenu a {padding-left: 30px;}
    .menu li {display: block;float: none;width: auto;}
    .menu input, .menu label {position: absolute;top: 0;left: 0;display: block;}
    .menu input {z-index: 4;}
    .menu input:checked + label{color: #28FF3D;}
    .menu input:checked + label:before{content: "\00d7";}
    .menu input:checked ~ ul {display: block;}
}


.div1{
    width: 100%;
    height: 600px;
    background-image: url(/imagens/AlissonComemorando.png);
    background-size: 100% 100%;
    display: flex;
}
.texto{
    display: flex;
    flex-flow: row wrap;
}
.imagem01{
    padding-top: 100px;
    display: flex;
    flex-flow: row wrap;
}
.h101{
    color: #00ff1a;
    font-size: 60px;
    font-family: url(/fontes/Horizon\ Elements.otf);
}
.h201{
    color: #0AB052;
    font-size: 40px;
}
.p1{
    color: #81ff8e;
    font-size: 25px;
    visibility: hidden;
}
.imagem1{
    width: 400px;
    height: 400px;
}
.texto h1.h101{
    margin-top: 280px;
}
body h1.h101{
    margin-left: 23%;
}
.texto h2.h201{
    margin-top: 280px;
}
body p.p1{
    margin-left: 20%;
}
@media screen and (max-width: 1000px) {
    body h1.h101{margin-left: 13%;}
    body h2.h201{margin-left: 0%;}
}
@media screen and (max-width: 800px) {
    .div1{display: inline-block;}
    .texto{width: 100%;height: 200px;}
    .imagem01{width: 100%;height: 400px;padding-top: 0px;display: inline-block;}
    .div1 h1.h101{margin-left: 24%; margin-top: 50px;position: relative;}
    .div1 h2.h201{margin-top: 40px;position: relative;}
    .div1 img.imagem1{width: 250px;height: 250px; position: relative;margin-left: 32%;}

}
@media screen and (max-width: 838px) {
    .div1{width: 100%;height: 600px;background-image: url(/imagens/AlissonComemorando.png);background-size: 100% 100%;display: flex;}
    .texto{display: flex;flex-flow: row wrap;}
    .imagem01{padding-top: 100px;display: flex;flex-flow: row wrap;}
    .h101{color: #00ff1a;font-size: 60px;font-family: url(/fontes/Horizon\ Elements.otf);}
    .h201{color: #0AB052;font-size: 40px;}
    .p1{color: #81ff8e;font-size: 25px;visibility: hidden;}
    .imagem1{width: 400px;height: 400px;}
    .texto h1.h101{margin-top: 280px;}body h1.h101{margin-left: 23%;}
    .texto h2.h201{margin-top: 280px;}
    body p.p1{margin-left: 20%;}

}
@media screen and (max-width: 611px) {

    .div1 h1.h101{margin-left: 17%; margin-top: 50px;position: relative;}
    .div1 h2.h201{margin-left: 0; margin-top: 40px;position: relative;}
    .div1 img.imagem1{width: 250px;height: 250px; position: relative;margin-left: 28%;}
}